@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

/*
	Telephasic by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #f5f7fa;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body,input,textarea,select
	{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #52575c;
		line-height: 1.75em;
		font-size: 15pt;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 300;
		color: #52575c;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}

	h2
	{
		font-size: 2em;
		line-height: 1.25em;
	}

	h3
	{
		font-size: 1.5em;
		line-height: 1.5em;
	}

	a
	{
		color: inherit;
		text-decoration: none;
		border-bottom: dotted 1px #62676c;
		-moz-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
		-o-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
	}
	
		a:hover
		{
			color: #f35858;
			border-bottom-color: rgba(255,255,255,0);
		}

	strong, b
	{
		font-weight: 400;
		color: #42474c;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #c2c7cc;
	}
	
	blockquote
	{
		border-left: solid 0.5em #c2c7cc;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table, .features
	{
		margin-bottom: 1.5em;
	}

	br.clear
	{
		clear: both;
	}

	.feature
	{
		text-align: center;
	}
	
	/* Sections/Article */
	
		section,
		article
		{
			margin-bottom: 3em;
		}
		
			section > :last-child,
			article > :last-child
			{
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child
			{
				margin-bottom: 0;
			}
		
		.row > section,
		.row > article
		{
			margin: 0 auto 0;
			ma
		}

		header
		{
			margin-bottom: 1.5em;
		}
		
			header > p
			{
				display: block;
				color: #f35858;
				padding: 0.75em 0 1em 0;
				font-size: 1.5em;
				line-height: 1.5em;
			}

			header.major
			{
				text-align: center;
			}

	/* Image */

		.image
		{
			display: inline-block;
			-moz-transition: opacity 0.25s ease-in-out;
			-webkit-transition: opacity 0.25s ease-in-out;
			-o-transition: opacity 0.25s ease-in-out;
			-ms-transition: opacity 0.25s ease-in-out;
			transition: opacity 0.25s ease-in-out;
			outline: 0;
			border: 0;
		}
		
			.image img
			{
				display: block;
				width: 100%;
			}

			.image.fit
			{
				display: block;
				width: 100%;
			}
			
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 3em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 3em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

			a.image:hover
			{
				opacity: 0.85;
			}

	/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}
			
			ul.actions
			{
				padding-top: 1em;
			}
			
				ul.actions.major
				{
					text-align: center;
				}
			
				ul.actions li
				{
					display: inline-block;
					margin-left: 1em;
				}
				
					ul.actions li:first-child
					{
						margin-left: 0;
					}

			ul.divided
			{
			}

				ul.divided li
				{
					border-top: solid 1px #d2d7dc;
					padding-top: 2em;
					margin-top: 2em;
				}
				
				ul.divided li:first-child
				{
					padding-top: 0;
					margin-top: 0;
					border-top: 0;
				}

			ul.icons
			{
			}
			
				ul.icons li:before
				{
					display: inline-block;
					color: #fff;
					background: #61666b;
					width: 2em;
					height: 2em;
					border-radius: 0.35em;
					text-align: center;
					line-height: 2em;
					margin-right: 0.75em;
				}

			ul.menu
			{
			}
			
				ul.menu li
				{
					display: inline-block;
					border-left: solid 1px #d2d7dc;
					padding-left: 1em;
					margin-left: 1em;
				}
				
				ul.menu li:first-child
				{
					border-left: 0;
					padding-left: 0;
					margin-left: 0;
				}

		ol
		{
		}	

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}

	/* Form */

		form
		{
		}
		
			form .actions
			{
				padding-top: 0;
			}
		
			form label
			{
				display: block;
				font-weight: 300;
				color: #52575c;
				margin: 0 0 0.5em 0;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				background: #f9fbfe;
				border: solid 1px #d2d7dc;
				border-radius: 0.35em;
				width: 100%;
				line-height: 1.5em;
				padding: 0.75em;
				-moz-transition: background-color 0.25s ease-in-out;
				-webkit-transition: background-color 0.25s ease-in-out;
				-o-transition: background-color 0.25s ease-in-out;
				-ms-transition: background-color 0.25s ease-in-out;
				transition: background-color 0.25s ease-in-out;
			}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus
				{
					background: #fff;
					clear:both;
				}
				
				form textarea
				{
					min-height: 7em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}
			
	/* Table */
	
		table
		{
			width: 100%;
		}
		
			table.default
			{
				width: 100%;
			}

				table.default tbody tr
				{
					border-top: solid 1px #D2D7DC;
				}
			
				table.default tbody tr:nth-child(2n+1)
				{
					background: #f9fbfe;
				}
				
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					font-weight: 400;
					padding: 0.5em 1em 0.5em 1em;
				}
			
				table.default thead
				{
				}
				
				table.default tfoot
				{
					border-top: solid 1px #D2D7DC;
				}
				
				table.default tbody
				{
				}

	/* Button */
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			display: inline-block;
			color: inherit;
			background: #fff;
			text-decoration: none;
			border: solid 1px #c2c7cc;
			border-radius: 0.35em;
			padding: 0.8em 2em 0.8em 2em;
			cursor: pointer;
			outline: 0;
			-moz-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			-o-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
		}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				border-color: rgba(255,255,255,0.75);
				background-color: rgba(255,255,255,0.15);
				color: #fff;
			}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		
		.icon > .label {
			display: none;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		position: relative;
		background: #fff;
		overflow-x: hidden;
		padding: 6em 0 6em 0;
	}

	.image-wrapper
	{
		position: relative;
	}
	
		.image-wrapper .image
		{
			position: relative;
			z-index: 2;
		}
	
		.image-wrapper.first:before
		{
			content: '';
			display: block;
			width: 2000%;
			height: 100%;
			position: absolute;
			left: -1000%;
			top: 0;
			z-index: 1;
			box-shadow: inset 0px 0px 0px 1px #e8e8e8;
			background: #f6f8fb url('images/image-wrapper.svg');
		}

	#header-wrapper
	{
		position: relative;
		padding: 4em 0 2em 0;
		
		background-color:		#f08c89;
		background-image:		url('images/header.svg');
		background-size:		100% 620%;
		
		background-image:		url('images/overlay.png'),	url('images/header.svg'),	-moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
		background-image:		url('images/overlay.png'),	url('images/header.svg'),	-webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
		background-image:		url('images/overlay.png'),	url('images/header.svg'),	-o-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
		background-image:		url('images/overlay.png'),	url('images/header.svg'),	-ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
		background-image:		url('images/overlay.png'),	url('images/header.svg'),	linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
		background-size:		128px 128px,				100% 620%,					auto;
		background-repeat:		repeat,						no-repeat,					no-repeat;
	}
	
		.homepage #header-wrapper
		{
			padding: 10em 0 6em 0;
			background-size:	128px 128px,				100% 100%,					auto;
		}
	
	#promo-wrapper
	{
		position: relative;
		background-image:		url('images/overlay.png'),	url('../images/promo.jpg');
		background-size:		192px 192px,				cover;
		background-position:	top left,					center center;
		color: #fff;
		text-align: center;
		padding: 6em 0 6em 0;
	}

	#footer-wrapper
	{
		-webkit-transform: translate3d(0,0,0);
		position: relative;
		border-top: solid 1px #c2c7cc;
		padding: 1em 0 6em 0;

		background-image:		url('images/overlay.png'),	url('images/footer.svg');
		background-size:		128px 128px,				100% 100%;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		width: 15em;
		margin-left: -7.5em;
	}
	
		#logo a
		{
			display: block;
			width: 100%;
			height: 4em;
			line-height: 4em;
			background: rgba(255,255,255,0.15);
			border: solid 1px;
			border-color: #fff;
			border-color: rgba(255,255,255,0.75);
			border-top: 0;
			border-radius: 0 0 0.35em 0.35em;
			color: #fff;
			display: inline-block;
			font-weight: 600;
			letter-spacing: 3px;
			text-align: center;
			text-transform: uppercase;
		}

	#nav
	{
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4em;
		line-height: 4em;
	}

		#nav > ul
		{
			margin: 0;
		}

			#nav > ul > li > ul
			{
				display: none;
			}
		
			#nav > ul > li
			{
				display: inline-block;
				margin-left: 1em;
			}
			
				#nav > ul > li > span,
				#nav > ul > li > a
				{
					color: #fff;
					text-decoration: none;
					outline: 0;
					border: 0;
					border: solid 1px rgba(255,255,255,0);
					border-radius: 0.35em;
					padding: 0.3em 1em 0.3em 1em;
					-moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					-webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					-o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					-ms-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
				}

			#nav > ul > li.active > span,
			#nav > ul > li.active > a
			{
				border-color: rgba(255,255,255,0.75);
				background-color: rgba(255,255,255,0.15);
				color: #fff;
			}

			#nav > ul > li:first-child
			{
				margin-left: 0;
			}

			#nav > ul > li.break
			{
				margin-left: 20em;
			}
			
	.dropotron
	{
		text-align: left;
		line-height: 2em;
		border-radius: 0.35em;
		min-width: 12em;
		background: #fff;
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
		margin-top: -0.8em;
	}

		.dropotron a,
		.dropotron span
		{
			display: block;
			padding: 0.65em 1em 0.65em 1em;
			border-top: solid 1px #e8e8e8;
			border-bottom: 0;
		}
		
		.dropotron li:first-child > a,
		.dropotron li:first-child > span
		{
			border-top: 0;
		}
	
		.dropotron li.active > a,
		.dropotron li.active > span
		{
			color: #f35858;
		}
	
	.dropotron.level-0
	{
		font-size: 0.9em;
		margin-top: 0;
	}

		.dropotron.level-0:before
		{
			content: '';
			position: absolute;
			top: -1em;
			width: 1em;
			height: 1em;
			border-bottom: solid 0.5em #fff;
			border-left: solid 0.5em rgba(255,255,255,0);
			border-right: solid 0.5em rgba(255,255,255,0);
		}

		.dropotron.level-0.center:before
		{
			left: 50%;
			margin-left: -0.5em;
		}

		.dropotron.level-0.left:before
		{
			left: 1em;
		}

		.dropotron.level-0.right:before
		{
			right: 1em;
		}

/*********************************************************************************/
/* Hero                                                                          */
/*********************************************************************************/

	#hero
	{
		position: relative;
		color: #fff;
		text-align: center;
		z-index: 1;
	}
	
		#hero h2
		{
			color: #fff;
			font-size: 3em;
		}
		
		#hero strong
		{
			color: inherit;
		}

		#hero header > span
		{
			color: #fff;
		}

		#hero p
		{
			font-size: 1.5em;
			line-height: 1.5em;
		}

		#hero .button
		{
			background: #fff;
			border-color: rgba(255,255,255,0);
			color: #f08c89;
			font-size: 1.25em;
		}
		#hero .input[type="submit"]
		{
			background: #fff;
			border-color: rgba(255,255,255,0);
			color: #f08c89;
			font-size: 1.25em;
		}
		#hero .input[type="reset"]
		{
			background: #fff;
			border-color: rgba(255,255,255,0);
			color: #f08c89;
			font-size: 1.25em;
		}
		#hero .input:hover
			{
				border-color: rgba(255,255,255,0.75);
				background-color: rgba(255,255,255,0.15);
				color: #fff;
			}
	
			#hero .button:hover
			{
				border-color: rgba(255,255,255,0.75);
				background-color: rgba(255,255,255,0.15);
				color: #fff;
			}

		#hero a
		{
			color: #fff;
			border-color: #fff;
			border-color: rgba(255,255,255,0.5);
		}
		
			#hero a:hover
			{
				border-color: rgba(255,255,255,0);
			}

/*********************************************************************************/
/* Promo                                                                         */
/*********************************************************************************/

	#promo
	{
		background: rgba(255,255,255,0.05);
		border: solid 1px rgba(255,255,255,0.25);
		border-radius: 0.5em;
		padding: 1.75em 2.5em 1.75em 2.5em;
		display: inline-block;
		position: relative;
		z-index: 1;
	}

		#promo h2
		{
			color: #fff;
			display: inline-block;
			margin-right: 1em;
			font-size: 1.75em;
		}
		
		#promo .button
		{
			background: #fff;
			border-color: rgba(255,255,255,0);
			color: #27636B;
			font-size: 1.25em;
		}
		
			#promo .button:hover
			{
				border-color: rgba(255,255,255,0.75);
				background-color: rgba(255,255,255,0.15);
				color: #fff;
			}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding-bottom: 4em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}
	
		#sidebar section
		{
			border-top: solid 1px #d2d7dc;
			margin-top: 3em;
			padding-top: 3em;
		}

		#sidebar section:first-child
		{
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		position: relative;
		z-index: 1;
	}

		#footer header.major
		{
			margin-bottom: 3em;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		position: relative;
		z-index: 1;
		text-align: center;
		border-top: solid 1px #d2d7dc;
		color: #a2a7ac;
		padding-top: 4em;
		margin-top: 6em;
	}