div#posts
{
	background:#FFF;
	display:block;
	border-style:solid;
	border-width:thin;
	border-color:#FF0080;
	padding-left:1.5%;
	padding-right:1.5%;
	padding-top:10px;
	padding-bottom:10px;
	margin:15px;
	word-wrap: break-word;
	-webkit-box-shadow: 0 8px 6px -6px #666;
	   -moz-box-shadow: 0 8px 6px -6px #666;
	        box-shadow: 0 8px 6px -6px #666;
			border-radius:8px;
}
a.one:link {
	color: #CF7C00;
	text-decoration: none;
	font-size:14px;
}
a.two:link{
	color: #f35858;
	text-decoration: none;
	font-size:16px;
	}
a.one:visited {
	text-decoration: none;
}
a.one:hover {
	text-decoration: none;
	color: #f35858;
}
a.one:active {
	text-decoration: none;
}

div.user{
	font-size: 0.8em;
	font-family:Tahoma, Geneva, sans-serif;
	}
	
	div.subject{
		font-size: 1.25em;
		font-family:Tahoma, Geneva, sans-serif;
		}
div.message{
	font-size: 	0.9em;
	font-family:Tahoma, Geneva, sans-serif;
}
div.tag{
	font-size: 1.2em;
	}
	div.date{font-size:0.8em;}
	